openapi: 3.0.1
info:
  title: Farm service
  description: APIs schema for Farm service
  version: 1.0.0
servers:
  - url: 'https://backend.aistrom.com:8001'
security:
  - basicAuth: []
  - bearerAuth: []
paths:
  /users/:
    post:
      summary: Register user
      requestBody:
        description: Register information
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RegisterUserBody'
        required: true
      responses:
        '200':
          description: success response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegisterSuccesResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /cattles/:
    post:
      security:
        - bearerAuth: []
      summary: Refresh access token
      requestBody:
        description: Register information
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CattlesPostBody'
        required: true
      responses:
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CattlesPostSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    RegisterSuccesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            citizen_id:
              type: string
              example: '1345678901234'
            first_name:
              type: string
              example: 'Albert'
            middle_name:
              type: string
              example: 'E.'
            last_name:
              type: string
              example: 'Something'
            phone_number:
              type: string
              example: '0811111111'
            email:
              type: string
              example: 'emal@email.com'
            address:
              type: string
              example: 'Poserdon 123 Rd.Ratchadaphisek Thailand'
            type:
              type: string
              example: 'farmer'
        message:
          type: string
          example: ''
    ErrorResponse:
      type: object
      properties:
        data:
          type: object
        message:
          type: string
          example: '{error message}'
    RegisterUserBody:
      type: object
      properties:
        citizen_id:
          type: string
          example: '1345678901234'
        first_name:
          type: string
          example: 'Albert'
        middle_name:
          type: string
          example: 'E.'
        last_name:
          type: string
          example: 'Something'
        phone_number:
          type: string
          example: '0811111111'
        email:
          type: string
          example: 'emal@email.com'
        address:
          type: string
          example: 'Poserdon 123 Rd.Ratchadaphisek Thailand'
        type:
          type: string
          example: 'farmer'
    CattlesPostBody:
      type: object
      properties:
        data:
          type: object
          properties:
            owner_citizen_id:
              type: string
              example: "1345678902345"
            cattles:
              type: array
              items:
               $ref: '#/components/schemas/CattlesModel'
        message:
          type: string
          example: ""
    CattlesPostSuccessResponse:
      type: object
      properties:
        data:
          type: object
        message:
          type: string
          example: ""
    CattlesModel:
      type: object
      properties:
        animal_name:
          type: string
          example: "บักสมหมาย"
        device_id:
          type: string
          example: "0412384595"
        birth_date:
          type: string
          example: "2019-10-12T07:20:00.00Z"
        sex:
          type: string
          example: "Male"
        color:
          type: string
          example: "Red"
        breed:
          type: string
          example: "พันธุ์อีหยัง"
        birth_weight:
          type: string
          example: "100"
        chest:
          type: string
          example: "100"
        weaning_weight:
          type: string
          example: "150"
        build_number:
          type: string
          example: "12344455"
        breeder_name:
          type: string
          example: "สมชาย"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic